body {
    text-align: center;
    background-color: #cce6ff50;
    font-family: 'Source Sans Pro', sans-serif;
}

#submitBtn {
    padding: 10px;
    background-color: green;
    font-size: 20px;
    border-radius: 12px;
}

.error {
    font-weight: bold;
}

#accountInfo {
    margin: auto;
    background-color: #cce6ff;
    border-radius: 20px;
    padding: 15px;
    width: 500px;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
}

#footersection {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

footer {
    font-size:12px;
}





